@model IEnumerable<DataTablesJQuery_MVC.Models.Student>

@{
    ViewBag.Title = "DataTables JQuery";
  
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
 <style>
     td.details-control {
    background: url('../../Content/DataTables/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../../Content/DataTables/images/details_close.png') no-repeat center center;
}
 </style>

<h2>DataTables JQuery</h2>

 <table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>City</th>
             
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th></th>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>City</th>
            
        </tr>
    </tfoot>
</table>
 @section Scripts{
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">

    function format(d) {
        return 'Full name: ' + d.FirstName + ' ' + d.LastName + '<br>' +
            'Salary: ' + d.City + '<br>' +
            'The child row can contain any data you wish, including links, images, inner tables etc.';
    }
    var dt;
    $(document).ready(function () {
        $.ajax({
            url: "DataTablesJQueryJSON",
            dataType: "json",
            contentType: "application/json; chartset=utf-8",
            success: function (data) {
                UserData = data;
            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        }).done(function () {
       dt  =   $('#example').DataTable({
             data: UserData,
             "columns": [
           {
               "class": "details-control",
               "orderable": false,
               "data": null,
               "defaultContent": ""
           },
           { "title": UserData.ID },
           { "title": UserData.FirstName },
           { "title": "LastName" },
           { "title": "City" }
             ] 
         });
           


        });
    });
</script>
    }